<h1> List of section for section "<%= @section.name  %>"  </h1>
<% @section.subsections.each do |subsection|  %>
  <%= link_to subsection.name, subsections_index_path(id: subsection.id)   %>
<% end %>
